name: Build to DockerHub
on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # 这样你的名字就变成了最简洁的 用户名/项目名
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cfnat:latest
          platforms: linux/amd64,linux/arm64
